* {
    box-sizing: border-box;
}

:root {
    --Primary-color-black: #152427;

    --Primary-color-black-green: #143c3c;

    --Secondary-color-blue: #83a17d;

    --Secondary-color-gray: #6a8383;

    --Secondary-color-light-green: #e2eddf;

    --Text-color-black-gray: #575d5e;

    --Text-color-light-gray: #7d8188;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    /* font-family: "Public Sans", sans-serif; */
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    min-width: 173px;
    padding: 14px 52px;
    color: #fff;
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background: var(--Primary-color-black-green, #143c3c);
    outline: none;
}

.btn:hover {
    background: var(--Secondary-color-blue);
    border-color: var(--Secondary-color-blue);
}

.section__heading {
    color: var(--Primary-color-black, #152427);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.21;
}

.section__desc {
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.subtitle {
    display: flex;
    align-items: center;
    color: var(--Primary-color-black, #152427);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.62;
}

.subtitle::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black, #152427);
    margin-right: 21px;
}

.section__heading-top {
    color: var(--Primary-color-black, #152427);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

/* Header */
.header__body {
    font-family: "Public Sans";
    position: relative;
    display: flex;
    align-items: center;
    padding: 28px 0 13px;
}

.header__body::after {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
    width: 100%;
    height: 1px;
}

.navbar {
    margin-left: auto;
}
.navbar__list {
    display: flex;
    margin-left: auto;
}

.navbar__item {
    padding: 0 19px;
}

.navbar__item:hover {
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link {
    color: var(--Primary-color-black, #152427);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2;
}

.navbar__link--active {
    position: relative;
}

.navbar__link--active::after {
    content: "";
    position: absolute;
    bottom: -23px;
    left: 0;
    right: 0;
    width: 16px;
    height: 2px;
    background: var(--Primary-color-black-green, #143c3c);
}

.header-action__btn {
    display: block;
    margin-left: 88px;
}

.hero {
    padding: 28px 0 21px;
}

.hero__body {
    display: flex;
    align-items: center;
    font-family: "Public Sans";
    position: relative;
    padding: 32px 0 145px;
}

.section__heading-hero {
    width: 368px;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.section__desc-hero {
    margin-top: 20px;
    width: 341px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.hero__media {
    margin-left: 76px;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 42px;
}

.hero__watch-video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 36px;
    width: 57px;
    height: 57px;
    border: 4px solid;
    border-radius: 50%;
    border-color: transparent transparent #143c3c #143c3c;
    transform: rotate(45deg);
}

.hero__watch-video--btn {
    position: relative;
    width: 44px;
    height: 44px;
    background: var(--Secondary-color-blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
}

.hero__watch-video:hover {
    opacity: 0.9;
}

.hero__watch-video--desc {
    margin-left: 9px;
    color: #152427;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero__media {
}

.hero__media-circle {
    position: absolute;
    top: 182px;
    left: 625px;
    right: 625px;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.hero__media-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__images {
    width: 202px;
    height: 466px;
    margin-left: 20px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__images:first-child {
    margin-left: 0;
}

.hero__images:nth-child(2) {
    transform: translateY(77px);
}

.hero__content--decoration {
}

.hero__content--decoration-line,
.hero__content--decoration-flower,
.hero__content--decoration-line--bottom,
.hero__content--decoration-flower--bottom {
    position: absolute;
    display: inline-block;
}

.hero__content--decoration-line {
    top: 0;
    left: 295px;
}

.hero__content--decoration-flower {
    top: 7px;
    left: 252px;
}

.hero__content--decoration-line--bottom {
    bottom: 0;
    right: 60px;
}

.hero__content--decoration-flower--bottom {
    bottom: 25px;
    right: 16px;
}

.client__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 21px 0 53px;
    background: var(--Secondary-color-light-green);
    border-radius: 100.5px;
}

.client__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 77px 121px;
    width: 100%;
}

.client__item {
    display: flex;
    align-items: center;
}

.client__item-branch {
    display: block;
    color: var(--Primary-color-black-green, #143c3c);
}

.client-slack,
.client-discord,
.client-heroku {
    display: flex;
    align-items: center;
}

.client__item-branch--google {
    font-size: 3.1rem;
    font-weight: 500;
}

.client__item-branch--slack {
    font-size: 3.2rem;
    font-weight: 600;
}

.client__item-branch--agworld {
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
    margin-left: 11px;
}

.client__item-branch--riotinto {
    font-family: "Sonsie One", system-ui;
    font-size: 2.3rem;
    font-weight: 400;
}

.client__item-branch--heroku {
    margin-left: 10px;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

.services {
    margin-top: 53px;
}

.service__body {
    padding: 79px 0;
}

.service__top-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section-heading-top--services {
    width: 520px;
    margin-top: 12px;
}

.section-heading-top--services::after {
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    margin-left: 21px;
    background: var(--Primary-color-black, #152427);
    transform: translateY(-9px);
}

.service-control {
    display: flex;
}

.service-control--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background: var(--Secondary-color-light-green);
    color: #152427;
}

.service-control--btn:last-child {
    transform: rotate(180deg);
    margin-left: 17px;
}

.service-control--btn:hover {
    background: var(--Primary-color-black-green);
    color: #fff;
}

.service__bottom {
    margin-top: 76px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
}

.service__card-img {
    display: block;
    width: 370px;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.service__card-info {
    margin-top: 24px;
    height: 159px;
}

.service__card-info--heading {
    color: var(--Primary-color-black, #152427);
    font-size: 2.2rem;
    font-weight: 600;
}

.service__card-info--desc {
    width: 268px;
    margin-top: 18px;
    color: var(--text-color-light-gray, #7d8188);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

.service__card:hover {
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    border-radius: 20px;
}

.service__card:hover .service__card-info {
    margin-top: 0;
    padding: 24px 18px 23px;
}

.about {
    margin-top: 79px;
}

.about__body {
    position: relative;
    display: flex;
    align-items: center;
    padding: 40px 0 0;
}

.about__media {
    height: 557px;
}

.about__media-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 21px;
}

.about__media-img {
    width: 284px;
    height: 480px;
    border-radius: 210px;
    object-fit: cover;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__media-images .about__media-img:first-child {
    transform: translateY(77px);
}

.about__media-decoration--flower,
.about__media-decoration--line {
    position: absolute;
    z-index: 1;
}

.about__media-decoration--flower {
    top: 0;
    left: 49px;
    z-index: 2;
}

.about__media-decoration--line {
    transform: rotate(13deg);
    top: 50px;
    left: 50px;
}

.about__content {
    width: 485px;
    margin-left: 64px;
}

.section-heading-top--about {
    margin-top: 20px;
}

.section__desc--about {
    margin-top: 11px;
}

.about__content-stat {
    margin-top: 36px;
}

.about__content-stat--item {
    display: flex;
    border-bottom: 1px solid #83a17d;
    padding-bottom: 20px;
}

.about__content-stat--item + .about__content-stat--item {
    margin-top: 38px;
}

.about__content-stat--item strong {
    color: var(--Primary-color-black, #152427);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.21;
}

.about__content-stat--text {
    margin-left: 24px;
}

.process {
    margin-top: 79px;
}

.process__body {
    position: relative;
}

.subtitle__process {
    padding: 36px 7px 0;
}

.section__heading-top--process {
    margin-top: 20px;
    width: 477px;
}

.section__heading-top--process::after {
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--Primary-color-black, #152427);
    transform: translate(9px, -9px);
}

.process__bottom {
    margin-top: 81px;
}

.process__item {
    border-radius: 33px;
}

.process__item:first-child {
    background: var(--Scondery-color-light-green, #e2eddf);
}

.process__item:not(:first-child)::after {
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
    width: 100%;
    height: 3px;
}

.process__item strong {
    color: var(--Primary-color-black-green, #143c3c);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72;
    margin-right: 64px;
}

.process__item:first-child .process__content {
    padding: 57px 92px 76px 30px;
}

.process__content {
    display: flex;
    align-items: center;
    padding: 57px 30px 50px 30px;
}

.process__heading {
    color: var(--Primary-color-black, #152427);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    min-width: 176px;
}

.process__more {
    position: absolute;
    display: inline-block;
    margin-top: 22px;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
}

.process__more:hover {
    text-decoration: underline;
}

.process__figure {
    position: absolute;
    top: 0;
    right: 92px;
}

.process__figure-person {
    width: 450px;
    height: 444px;
}

.process__desc {
    margin-left: 175px;
    width: 572px;
    color: var(--text-color-light-gray, #7d8188);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.project {
    margin-top: 146px;
    background: var(--Primary-color-black-green);
}

.project__body {
    padding: 116px 0 63px;
}

.project__top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__heading-top--project {
    width: 457px;
    margin-right: 93px;
    color: #e7f9f9;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.21;
}

.section__heading-top--project::after {
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--Secondary-color-blue, #83a17d);
    transform: translate(16px, -9px);
}

.section__desc--project {
    width: 590px;
    color: var(--Secondary-color-gray, #6a8383);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.project__body {
    position: relative;
}

.project__top-btn {
    margin-top: 13px;
}

.project__top-browse {
    margin-right: 26px;
    color: #fff;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.project__top-arrow {
    color: #80a07b;
    transform: rotate(180deg);
}

.project__video-decor--flower,
.project__video-decor--line {
    position: absolute;
    z-index: 1;
}

.project__video-decor--flower {
    top: 212px;
    right: -28px;
}

.project__video-decor--line {
    top: 124px;
    right: -48px;
}

.project__video {
    margin-top: 65px;
    border-radius: 22px;
    position: relative;
}

.project__video-btn {
    position: absolute;
    top: 35%;
    bottom: 50%;
    left: 45%;
    right: 50%;
}
